<article>
    <h3>Two way data binding</h3>
    <div>
        <input type="text" class="form-control"
        [value]="nome"
        (input)="nome = campoNome.value" #campoNome/>
    
        
        <input type="text" class="form-control" [(ngModel)]="nome"/>
        
        <p>Você digitou o nome: {{ nome }}</p>
        
        <br/><br/>
        <p>Meu nome é {{ pessoa.nome }}, e tenho {{pessoa.idade}} anos</p>
        <input type="text" [(ngModel)]="pessoa.nome"/>
        <input type="text" [(ngModel)]="pessoa.idade"/>
    </div>
</article>

